@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..700&family=Tektur:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 4% 89%;
    --foreground: 0 0% 7%;
    --card: 30 4% 89%;
    --card-foreground: 0 0% 7%;
    --popover: 30 4% 89%;
    --popover-foreground: 0 0% 7%;
    --primary: 12 5% 79%;
    --primary-foreground: 0 0% 7%;
    --secondary: 20 2% 73%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 3% 56%;
    --muted-foreground: 20 2% 25%;
    --accent: 40 72% 49%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 75% 58%;
    --destructive-foreground: 0 11% 11%;
    --border: 0 3% 65%;
    --input: 30 4% 20%;
    --ring: 40 75% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 30 4% 11%;
    --foreground: 0 9% 98%;
    --card: 30 4% 11%;
    --card-foreground: 0 9% 98%;
    --popover: 30 4% 11%;
    --popover-foreground: 0 9% 98%;
    --primary: 12 5% 21%;
    --primary-foreground: 0 9% 98%;
    --secondary: 17 4% 32%;
    --secondary-foreground: 0 9% 98%;
    --muted: 30 4% 80%;
    --muted-foreground: 0 4% 80%;
    --accent: 40 75% 58%;
    --accent-foreground: 30 4% 11%;
    --destructive: 0 67% 54%;
    --destructive-foreground: 0 10% 10%;
    --border: 0 1% 32%;
    --input: 30 4% 80%;
    --ring: 40 75% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body font-normal min-h-screen;
  }
  h1 {
    @apply text-4xl font-heading font-bold small-caps mt-2 mb-3.5;
  }
  h2 {
    @apply text-2xl font-heading font-medium capitalize;
  }
  h3 {
    @apply text-xl font-heading font-medium small-caps;
  }
  a {
    @apply no-underline hover:underline active:underline;
  }
}

@layer utilities {
  .max-container {
    @apply w-full max-w-[1728px] my-0 mx-auto;
  }
  .page-wrapper {
    @apply mx-2.5 my-4 sm:mx-5;
  }
  .section-wrapper {
    @apply h-fit px-1 py-5 sm:px-3;
  }

  /* TOGGLE */
  .toggle {
    @apply w-fit;
  }
  .toggle:not(.hover-toggle-mode) > span:first-of-type:not(.active) {
    @apply hidden;
  }
  .toggle:not(.hover-toggle-mode) > span:last-of-type:not(.active) {
    @apply hidden;
  }
  .toggle.hover-toggle-mode:hover > span:first-of-type {
    @apply hidden;
  }
  .toggle.hover-toggle-mode:not(:hover) > span:last-of-type {
    @apply hidden;
  }

  /* ICONS */
  .icon-wrapper {
    @apply flex items-center gap-x-2;
  }
  .icon-wrapper > svg {
    @apply flex-none;
  }

  /* CUSTOM BORDERS */
  .indent-border {
    @apply pl-2.5 border-l-4 rounded;
  }
  .border-sm {
    @apply rounded-sm rounded-tl-[14px] rounded-br-[12px];
  }
  .border-md {
    @apply rounded-md rounded-tl-[20px] rounded-br-[18px];
  }
  .border-lg {
    @apply rounded-lg rounded-tl-[28px] rounded-br-[24px];
  }
  .border-xl {
    @apply rounded-xl rounded-tl-[40px] rounded-br-[32px];
  }

  /* TYPOGRAPHY */
  .small-caps {
    font-variant: small-caps;
  }
  .all-small-caps {
    font-variant: all-small-caps;
  }
}
