@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..700&family=Tektur:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 15 12% 89%;
    --foreground: 0 2% 10%;
    --card: 15 12% 89%;
    --card-foreground: 0 2% 10%;
    --popover: 15 12% 89%;
    --popover-foreground: 0 2% 10%;
    --primary: 0 1% 71%;
    --primary-foreground: 0 2% 10%;
    --secondary: 18 12% 62%;
    --secondary-foreground: 0 2% 10%;
    --muted: 12 10% 20%;
    --muted-foreground: 20 5% 12%;
    --accent: 20 90% 52%;
    --accent-foreground: 0 2% 10%;
    --destructive: 0 58% 51%;
    --destructive-foreground: 0 2% 10%;
    --border: 20 3% 40%;
    --input: 0 3% 87%;
    --ring: 20 90% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 15 10% 8%;
    --foreground: 0 9% 95%;
    --card: 15 10% 8%;
    --card-foreground: 0 9% 95%;
    --popover: 15 10% 8%;
    --popover-foreground: 0 9% 95%;
    --primary: 12 5% 22%;
    --primary-foreground: 0 9% 95%;
    --secondary: 18 12% 33%;
    --secondary-foreground: 0 9% 95%;
    --muted: 12 10% 80%;
    --muted-foreground: 0 9% 95%;
    --accent: 20 90% 48%;
    --accent-foreground: 15 10% 8%;
    --destructive: 0 71% 57%;
    --destructive-foreground: 0 10% 10%;
    --border: 15 10% 60%;
    --input: 0 1% 17%;
    --ring: 20 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body font-normal min-h-screen;
  }
  h1 {
    @apply text-4xl font-heading font-bold small-caps mt-8 mb-4;
  }
  h2 {
    @apply text-2xl font-heading font-medium capitalize;
  }
  h3 {
    @apply text-xl font-heading font-medium small-caps;
  }
  a {
    @apply no-underline hover:underline active:underline;
  }
}

@layer components {
  .layout-rounded {
    @apply rounded-[2.15rem] px-6 py-5;
  }
}

@layer utilities {
  .max-container {
    @apply w-full max-w-[1728px] my-0 mx-auto;
  }
  .page-wrapper {
    @apply mx-5 my-4;
  }

  /* ICONS */
  .icon-wrapper {
    @apply flex items-center gap-x-2;
  }

  /* CUSTOM BORDERS */
  .border-sm {
    @apply rounded-sm rounded-tl-[18px] rounded-br-[12px];
  }
  .border-md {
    @apply rounded-md rounded-tl-[28px] rounded-br-[18px];
  }
  .border-lg {
    @apply rounded-md rounded-tl-[40px] rounded-br-[24px];
  }
  .border-xl {
    @apply rounded-md rounded-tl-[56px] rounded-br-[32px];
  }

  /* TYPOGRAPHY */
  .small-caps {
    font-variant: small-caps;
  }
  .all-small-caps {
    font-variant: all-small-caps;
  }
}
